:root {
    --light-gray: #f8f9fa; /* 밝은 회색 */
    --medium-gray: #e9ecef; /* 중간 회색 */
    --dark-gray: #ced4da; /* 어두운 회색 */
    --green: #28a745; /* 기본 초록색 */
    --dark-green: #218838; /* 어두운 초록색 */
    --link-gray: #6c757d; /* 링크 색상 */
    --link-hover-blue: #0056b3; /* 링크 호버 색상 */
}